                                /* Add your desired styles here */
                                
                                body {
                                    font-family: Arial, sans-serif;
                                    text-align: center;
                                }
                                /*navigation bar*/
                                /*---------*/
                                
                                .btnclp {
                                    border: none;
                                    font-size: 16px;
                                }
                                
                                .carousel-inner img {
                                    height: 700px;
                                }
                                
                                .welcome {
                                    text-align: center;
                                    margin: 20px;
                                    padding: 20px;
                                }
                                
                                .welcome h3 {
                                    margin-bottom: 20px;
                                }
                                
                                .welcome p {
                                    line-height: 30px;
                                }
                                
                                .welcome button {
                                    border: none;
                                    border-radius: 6px;
                                    background-color: gray;
                                    color: white;
                                }
                                /*visionary*/
                                
                                .visionary {
                                    background-color: rgb(241, 233, 221);
                                    padding: 25px;
                                }
                                
                                .visionary-text {
                                    text-align: center;
                                }
                                
                                .visionary-text h4 {
                                    font-size: 32px;
                                    font-weight: 500;
                                }
                                
                                .visionary-text span {
                                    font-weight: 700;
                                }
                                
                                .visionary-text p {
                                    font-size: 16px;
                                    padding-left: 20px;
                                    padding-right: 20px;
                                    line-height: 30px;
                                }
                                
                                .footer-visinary {
                                    display: flex;
                                    padding: 16px;
                                }
                                
                                .footer-visinary img {
                                    flex: 1;
                                    padding-left: 40px;
                                    margin: 16px;
                                }
                                
                                .footer-visinary .footer-visionary-text {
                                    flex: 1;
                                }
                                
                                .founders {
                                    display: inline-block;
                                    margin-top: 10px;
                                    padding: 20px;
                                    padding-right: 15px;
                                    background-color: rgb(163, 160, 121);
                                    width: 350px;
                                    height: 600px;
                                    margin-left: 20px;
                                    border-top-left-radius: 50px;
                                    border-bottom-right-radius: 50px;
                                }
                                
                                .founders h3 {
                                    color: white;
                                    font-size: 20px;
                                }
                                
                                .founders p {
                                    color: rgb(255, 255, 255);
                                    padding: 16px;
                                }
                                
                                .img-fonder {
                                    width: 150px;
                                    height: 150px;
                                    border-radius: 50%;
                                }
                                
                                .prof {
                                    width: 100%;
                                    background-color: blanchedalmond;
                                }
                                
                                .prof-page {
                                    display: inline-block;
                                    width: 45%;
                                    padding: 32px;
                                }
                                
                                .prof-page p {
                                    font-size: 32px;
                                    text-align: center;
                                }
                                
                                .contact-info {
                                    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://previews.123rf.com/images/suvarnabhumi/suvarnabhumi1601/suvarnabhumi160100118/50972801-wooden-huts-at-nature-in-kanchanaburi-thailand-june-8-2015.jpg");
                                }
                                
                                .contact-info h4 {
                                    font-size: 600;
                                    padding: 20px;
                                    color: white;
                                    font-size: 32px;
                                    text-align: center;
                                }
                                
                                .contact-info span {
                                    font-weight: 300;
                                    font-size: 20px;
                                }
                                
                                .contact-info p {
                                    text-align: center;
                                    color: white;
                                    font-size: 20px;
                                    line-height: 30px;
                                }
                                
                                i {
                                    align-items: center;
                                    font-size: 32px;
                                    color: white;
                                    text-align: center;
                                    padding: 20px;
                                    padding-right: 4px;
                                }
                                
                                .social-media span {
                                    color: white;
                                }